<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/ProjectJS.js"></script>
</head>
<body>
    <div id="About_container">
        <div id="header">
            <header>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="list-item"><a href="./openingScreen.html">Home</a></li>
                        <li class="list-item"><a href="./about.html">About Us</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div id="Container_Logo"><img src="../static/logo.png" alt="Logo" id="logo"></div>
        <div id="Container_Header">
            About Us
        </div>
        <div id="Container_about" class="info">
            Hi there, we are glad you chose us! <br>
            Here, in the "Auction House", you can buy or sell any product you want via auction!<br>
            After you register in a few single actions you can upload a new item<br> or give a quick quote on an existing item on the site!<br>
            In order to upload a new item, you must fill in a number of necessary details - <br>name, category to which the item belongs,<br> and a last date for bidding (after this date we will check for you<br> who offered the highest price and the sale will be made). <br>It is recommended to also upload a picture of the item and a description<br> in order to increase the chances of selling at a high price.<br>
            If you would like to give quotes for items,<br> we will show you all the items on the site whose quote date has not passed,<br> you will be able to get an impression and give quotes.
        </div>
        <div class="footer_right">
            <footer>
                <a href="./ContactUs.html">  Contact Us</a>
            </footer>
        </div>       
         <div class="footer_left">
            <footer>
                <p>© 2022 All Rights Reserved</p>
            </footer>
    </div>
    
</body>
</html>
