<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/ProjectJS.js"></script>
</head>
<body>
    <div id="About_container">
        <div id="header">
            <header>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="list-item"><a href="./openingScreen.html">Home</a></li>
                        <li class="list-item"><a href="./about.html">About Us</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div id="Container_Logo"><img src="../static/logo.png" alt="Logo" id="logo"></div>
        <div id="Container_Header">
            About Us
        </div>
        <div id="Container_about" class="info">
             nzfg gns sgbimto <br> hjiwotgjpqogj w;tjitjh <br>pq5i4u gifq
             q5ij gupqi5u <br>gpqigu q;oijg5y
             q9p5u igqio <br>gypio5gt 
             q9u85t8q9p 5uy q89p<br>
        </div>
        <div class="footer_right">
            <footer>
                <a href="ContactUs.html">  Contact Us</a>
            </footer>
        </div>       
         <div class="footer_left">
            <footer>
                <p>© 2022 All Rights Reserved</p>
            </footer>
    </div>
    
</body>
</html>
