<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Suggestions</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/ProjectJS.js"></script>
</head>
<body>
    <div id="GiveSuggestions_container">
        <div id="header">
            <header>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="list-item"><a href="./openingScreen.html">Log Out</a></li>
                        <li class="list-item"><a href="./Update profile.html">Update Profile</a></li>
                        <li class="list-item"><a href="./about.html">About Us</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div id="Container_Logo"><img src="../static/logo.png" alt="Logo" id="logo"></div>
        <div id="Container_Header">
            Give suggestions for new items
        </div>
        <div id="SearchCategory" class="info">
            <label for="Category" id="searchLabel">Search item by category: </label>
                <select name="Categories" class="input_Upload" id="CategoryList">
                    <option value="">Choose Category</option>
                    <option value="MusicalInstruments">Musical Instruments</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Books">Books</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Comic">Comic</option>
                    <option value="Cameras">Cameras</option>
                    <option value="Headphones">Headphones</option>
                    <option value="Watchs">Watchs</option> 
                    <option value="Else">Else</option>
                </select>
                <button type="submit" onclick="" id="chooseCategory_button" class="Sugg_button">Search</a></button>
        </div>
        <div id="Sugg-container" class="info">
            <div class="mainItems">
                <div class="items">
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/headphones.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Headphones</h2></div>
                            <div class="itemDescription"><p>Orange used by musicians</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Headphones</p>
                                <p class="itemInfo">Last date for suggestions:<br>01/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>200$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/accordion.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Accordion</h2></div>
                            <div class="itemDescription"><p>Black, white headphones</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>11/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>250$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black grand piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                            <div class="itemName"><h2>Piano</h2></div>
                            <div class="itemDescription"><p>Black piano</p></div>
                            <div class="InfoItem">
                                <p class="itemInfo">Category:<br>Musical Instruments</p>
                                <p class="itemInfo">Last date for suggestions:<br>3/10/2022</p>
                                <p class="itemInfo">Highest price offered yet:<br>550$</p> 
                            </div>
                            <div class="itemOffer">
                                <form action="myprofile_itamar.html"> <!--Update action-->
                                    <label for="OfferPrice">Offer price ($) : </label>
                                    <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                                    <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
            
            
        </div>
        <div class="footer_right">
            <footer>
                <a href="ContactUs.html">  Contact Us</a>
            </footer>
        </div>       
         <div class="footer_left">
            <footer>
                <p>© 2022 All Rights Reserved</p>
            </footer>
    </div>
</body>
</html>