<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/ProjectJS.js"></script>
</head>
<body>
    <div id="SU_container">
        <div id="header">
            <header>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="list-item"><a href="./openingScreen.html">Home</a></li>
                        <li class="list-item"><a href="./about.html">About Us</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div id="Container_Logo"><img src="../static/logo.png" alt="Logo" id="logo"></div>
        <div id="Container_Header">
            Create your Account
        </div>
        <div id="form-container_sign-up" class="info">
            <form id="signUp_form" action="" onsubmit="return SignUpCheck()"> <!--Update action-->
                <table cellpadding="10" cellspacing="3">
                    <tr> <td>
                        <label for="email" id="Labels_Id">Email: </label>
                    </td> <td>
                        <input type="email" required id="email" name="email" class="input_signUp" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="___@___.___">
                    </td> </tr> <tr> <td> 
                        <label for="password" id="Labels_Id">Password: </label>
                    </td> <td>
                        <input type="password" required id="password" class="input_signUp" required minlength="8" name="password" placeholder="Min Lengh: 8">
                    </td> </tr> <tr> <td> 
                        <label for="CheckPassword" id="Labels_Id">Check Password: </label>
                    </td> <td>
                        <input type="password" required id="CheckPassword" class="input_signUp" required minlength="8" name="CheckPassword" placeholder="Type your password again">
                    </td> </tr> <tr> <td> 
                        <label for="Name" id="Labels_Id">Name: </label>
                    </td> <td>
                        <input type="text" required id="Name" class="input_signUp" name="Name" placeholder="Israel Israeli"><br>
                    </td> </tr> <tr> <td> 
                        <label for="Birth-Date" id="Labels_Id">Birth-Date: </label>
                    </td> <td>
                        <input type="date" required id="Birth-Date" name="Birth-Date" class="input_signUp"><br>
                    </td> </tr> <tr> <td> 
                        <label for="accountType" id="Labels_Id">Do you want to? </label>
                    </td> <td>  
                        <input type="radio" required id="Sell_Check" name="Want_to" value="SELL">
                        <label for="Sell_Check">SELL</label>
                        <input type="radio" required id="Buy_Check" name="Want_to" value="BUY">
                        <label for="Buy_Check">BUY</label><br>
                    </td> </tr>
                </table>
                <table  cellpadding="8" cellspacing="3">
                    <tr><td>
                        <button type="submit" id="signUp_button">Sign Up</a></button>
                    </td></tr>
                </table>
            </form>

        </div>
        <div class="footer_right">
            <footer>
                <a href="ContactUs.html">  Contact Us</a>
            </footer>
        </div>       
         <div class="footer_left">
            <footer>
                <p>© 2022 All Rights Reserved</p>
            </footer>
    </div>
</body>
</html>