<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Suggestions</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
</head>
<body>
    <div id="GiveSuggestions_container">
        <div id="Container_Logo"><img src="../static/logo.png" alt="Logo" width="120" height="120"></div>
        <div id="Container_Header">
            <p>Give suggestions for new items</p>
        </div>
        <div id="SearchCategory" class="info">
            <label for="Category" id="searchLabel">Search item by category: </label>
                <select name="Categories" class="input_Upload" id="CategoryList">
                    <option value="MusicalInstruments">Musical Instruments</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Books">Books</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Comic">Comic</option>
                    <option value="Cameras">Cameras</option>
                    <option value="Headphones">Headphones</option>
                    <option value="Watchs">Watchs</option>
                    <option value="Else">Else</option>
                </select>
                <button type="submit" onclick="" id="chooseCategory_button" class="Sugg_button">Search</a></button>
        </div>
        <div id="Items_List" class="info">
            <div id="item" class="Item1">
                <div id="itemPicture"><img src="../static/headphones.png" alt="itemPicture" class="PictureItem"></div>
                <div id="itemName"><h2>Headphones</h2></div>
                <div id="itemDescription"><p>Orange headphones used by great musicians</p></div>
                <div id="InfoItem">
                    <p class="itemInfo">Category: Headphones</p>
                    <p class="itemInfo">Last date for suggestions: 01/10/2022</p>
                    <p class="itemInfo">Highest price offered yet: 200</p> 
                </div>
                <div id="itemOffer">
                    <form action="myprofile_itamar.html"> <!--Update action-->
                        <label for="OfferPrice">Offer price: </label>
                        <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                        <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                    </form>
                </div>
            </div>
            <div id="item" class="Item1">
                <div id="itemPicture"><img src="../static/accordion.png" alt="itemPicture" class="PictureItem"></div>
                <div id="itemName"><h2>Accordion</h2></div>
                <div id="itemDescription"><p>Black, white and red headphones used by great musicians</p></div>
                <div id="InfoItem">
                    <p class="itemInfo">Category: Musical Instruments</p>
                    <p class="itemInfo">Last date for suggestions: 11/10/2022</p>
                    <p class="itemInfo">Highest price offered yet: 250</p> 
                </div>
                <div id="itemOffer">
                    <form action="myprofile_itamar.html"> <!--Update action-->
                        <label for="OfferPrice">Offer price: </label>
                        <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                        <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                    </form>
                </div>
            </div>
            
            <div id="item" class="Item1">
                <div id="itemPicture"><img src="../static/piano.png" alt="itemPicture" class="PictureItem"></div>
                <div id="itemName"><h2>Piano</h2></div>
                <div id="itemDescription"><p>Black piano</p></div>
                <div id="InfoItem">
                    <p class="itemInfo">Category: Musical Instruments</p>
                    <p class="itemInfo">Last date for suggestions: 3/10/2022</p>
                    <p class="itemInfo">Highest price offered yet: 550</p> 
                </div>
                <div id="itemOffer">
                    <form action="myprofile_itamar.html"> <!--Update action-->
                        <label for="OfferPrice">Offer price: </label>
                        <input type="number" required id="OfferPrice" class="PriceOffer" name="OfferPrice"><br>
                        <button type="submit" onclick="" class="Sugg_button">Send Offer</button>
                    </form>
                </div>
            </div>
            
            
        </div>
    </div>
</body>
</html>