<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Suggestions</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
</head>
<body>
    <div id="GiveSuggestions _container">
        <div id="logo"><img src="../static/AuctionHouseLogo.png" alt="Logo"></div>
        <div id="Header">The items I put up for auction</div>
        <div id="Header">
            <h1>Items still on auction</h1>
            <div class="">
                <img src="../static/book.png" alt="" class="">
                <h1>Ancient Book</h1>
                <p class="">This is a very ancient book I have in my family for generations</p>
                <p>Category: Books</p>
                <p>Last date for suggestions: 01/09/2022</p>
                <p>Highest price offered yet: 200</p>  
            </div>
        </div>
        <div id="Header">
            <h1>Items sold</h1>
            <div class="">
                <img src="../static/guitar.png" alt="" class="">
                <h1>Bass Guitar</h1>
                <p class="">Black bass guitar</p>
                <p>Category: Musical Instruments</p>
                <p>Last date for suggestions: 01/08/2022</p>
                <p>Price Sold: 500</p>  
                <p>Username sold to: anat58</p>  
            </div>
        </div>
    </div>
</body>
</html>