<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Suggestions</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
</head>
<body>
    <div id="GiveSuggestions _container">
        <div id="logo"><img src="../static/AuctionHouseLogo.png" alt="Logo"></div>
        <div id="Header">The suggestions I gave for the items</div>
        <div class="">
            <img src="../static/acoustic guitar.png" alt="" class="">
            <h1>Acoustic Guitar</h1>
            <p class="">This is a very ancient guitar I have in my family for generations</p>
            <p>Category: Musical Instruments</p>
            <p>Last date for suggestions: 01/09/2022</p>
            <p>Price I offered: 200</p>  
        </div>
        <div class="">
            <img src="../static/piano.png" alt="" class="">
            <h1>Piano</h1>
            <p class="">Black piano</p>
            <p>Category: Musical Instruments</p>
            <p>Last date for suggestions: 03/10/2022</p>
            <p>Price I offered: 300</p>  
        </div>
    </div>
</body>
</html>