<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening Screen - Auction House</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <!--<script defer src="../static/tripal_js.js"></script>-->
</head>
<body>
    <div id="OS_container">
        <div id="logo"><img src="../static/logo.png" alt="Logo" width="150"></div>
        <!--<div id="changing"></div>-->
        <div id="Header">
            <h1>Welcome to Auction House</h1>
        </div>
        <div id="form-container_sign-in">
            <form action="myprofile_itamar.html"> <!--Update action-->
                <p class="formHeadings">Already have an account?</p>
                <label for="email" id="Labels_Id">Email: </label><br>
                <input type="email" required id="email" name="email" class="input_signUp" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
                <p class="fillNotice">Email must be in current pattern: ___@___.__</p>
                <label for="password" id="Labels_Id">Password: </label><br>
                <input type="password" required id="password" class="input_signUp" required minlength="8" name="password"><br>
                <p class="fillNotice">Password must be at least 8 characters long</p>
                <button type="submit">Sign In</button>
            </form>
            
        </div>
        <div id="SignUp">
            <p class="formHeadings">New here? <br> Join us</p><br>
            <button type="submit" id="NewHere_button">Sign Up</a></button>
        </div>
    </div>
    
</body>
</html>
