<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening Screen - Auction House</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <!--<script defer src="../static/tripal_js.js"></script>-->
</head>
<body>
    <div id="container">
        <div id="logo"><img src="../static/logo.png" alt="Logo" width="150"></div>
        <div id="changing"></div>
        <div id="Header">
            <h1>Welcome to Auction House</h1>
        </div>
        <div id="form-container_sign-in">
            <form action="myprofile_itamar.html"> <!--Update action-->
                <p class="formHeadings">Already have an account?</p>
                <label for="UserName" id="signInHeaders">UserName: </label><br>
                <input type="text" required id="UserName" class="input_signUp" name="UserName"><br>
                <label for="password" id="signInHeaders">Password: </label><br>
                <input type="password" required id="password" class="input_signUp" required minlength="8" name="password"><br>
                <button type="submit">Sign in</button>
            </form>
            <button type="submit" id="NewHere_button">New here</a></button>
        </div>
    </div>
    
</body>
</html>
