<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
</head>
<body>
    <div id="OptionsContainer">
        <div id="logo"><img src="../static/logo.png" alt="Logo"></div>
        <div id="Header">Hello, what to you want to do today?</div>
        <div id="MyItems">
            <button type="submit" id="MyItems_button">The items I put up for auction</a></button>
        </div>
        <div id="UploadNewItem">
            <button type="submit" id="UploadNewItem_button">Uploading a new item for auction</a></button>
        </div>
        <div id="MySuggestions">
            <button type="submit" id="MySuggestions_button">The suggestions I gave for the items</a></button>
        </div>
        <div id="GiveSuggestions">
            <button type="submit" id="GiveSuggestions_button">Give suggestions for new items</a></button>
        </div>
    </div>
</body>
</html>