<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
</head>
<body>
    <div id="SU_container">
        <div id="Container_Logo"><img src="../static/logo.png" alt="Logo" width="150"></div>
        <!--<div id="changing"></div>-->
        <div id="Container_Header">
            <p>Create your Account</p>
        </div>
        <div id="form-container_sign-up">
            <form  id="signUp_form" action="createProfile.html"> <!--Update action-->
                <label for="email" id="Labels_Id">Email: </label><br>
                <input type="email" required id="email" name="email" class="input_signUp" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
                <p class="fillNotice">Email must be in current pattern: ___@___.__</p>
                <label for="Password" id="Labels_Id">Password: </label><br>
                <input type="password" required id="Password" class="input_signUp" required minlength="8" name="UserName"><br>
                <p class="fillNotice">Password must be at least 8 characters long</p>
                <label for="Name" id="Labels_Id">Name: </label><br>
                <input type="text" required id="Name" class="input_signUp" name="Name"><br>
                <label for="Birth-Date" id="Labels_Id">Birth-Date: </label><br>
                <input type="date" required id="Birth-Date" name="Birth-Date" class="input_signUp"><br>
                <label for="accountType" id="Labels_Id">Do you want to? </label><br>
                <form action="" class="input_signUp">
                    <input type="radio" id="Sell_Check" name="Want_to" value="SELL">
                    <label for="Sell_Check">SELL</label>
                    <input type="radio" id="Buy_Check" name="Want_to" value="BUY">
                    <label for="Buy_Check">BUY</label>
                </form>
                <button type="submit" id="signUp_button">Sign Up</a></button>
            </form>
        </div>
    </div>
</body>
</html>