doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title About Us
    link(rel='stylesheet', href='../static/StyleSheet.css')
    script(defer='', src='../static/ProjectJS.js')
  body 
    #About_container
      #header
        header
          nav.nav
            ul.nav-list
              li.list-item
                a(href='/openingScreen') Home
              li.list-item
                a(href='/aboutUs') About Us
      #Container_Logo
        img#logo(src='../static/logo.png', alt='Logo')
      #Container_Header
        | About Us
      #Container_about.info
        each val in var1 
          p= val.TEXT
      .footer_right
        footer
          a(href='/ContactUs')   Contact Us
      .footer_left
        footer
          p &copy; 2022 All Rights Reserved

