doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Contact Us
    link(rel='stylesheet', href='../static/StyleSheet.css')
    script(defer='', src='../static/ProjectJS.js')
  body
    h1 For Rachelie
    form(action='/CreateTableUsers', method='get')
        button.load(type='submit') Create Table Users
    form(action='/CreateTableItems', method='get')
        button.load(type='submit') Create Table Items
    form(action='/CreateTableQuotes', method='get')
        button.load(type='submit') Create Table Quotes
    form(action='/CreateTableUsersMessages', method='get')
        button.load(type='submit') Create Table Users Messages
    br
    form(action='/InsertDataUsers', method='get')
        button.load(type='submit') Insert Data Users
    form(action='/InsertDataItems', method='get')
        button.load(type='submit') Insert Data Items
    form(action='/InsertDataQuotes', method='get')
        button.load(type='submit') Insert Data Quotes
    form(action='/InsertDataUsersMessages', method='get')
        button.load(type='submit') Insert Data Users Messages
    br
    form(action='/ShowTableUsers', method='get')
        button.load(type='submit') Show Table Users
    form(action='/ShowTableItems', method='get')
        button.load(type='submit') Show Table Items
    form(action='/ShowTableQuotes', method='get')
        button.load(type='submit') Show Table Quotes
    form(action='/ShowTableUsersMessages', method='get')
        button.load(type='submit') Show Table Users Messages
    br
    form(action='/DropTableUsers', method='get')
        button.load(type='submit') Drop Table Users
    form(action='/DropTableItems', method='get')
        button.load(type='submit') Drop Table Items
    form(action='/DropTableQuotes', method='get')
        button.load(type='submit') Drop Table Quotes
    form(action='/DropTableUsersMessages', method='get')
        button.load(type='submit') Drop Table Users Messages