doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Upload new item
    link(rel='stylesheet', href='../static/StyleSheet.css')
    script(defer='', src='../static/ProjectJS.js')
    script(defer='', src='../static/onLoadFunctions.js')
  body
    #NI_container
      #header
        header
          nav.nav
            ul.nav-list
              li.list-item
                a(href='/openingScreen') Log Out
              li.list-item
                a(href='/aboutUs') About Us
      #Container_Logo
        img#logo(src='../static/logo.png', alt='Logo')
      #Container_Header
        | Upload a new item for auction
      #Container_Note 
        p#Success #{varS}
      #Upload.info
        form(action='/uploadeNew', method='post', onsubmit='return LastDateCheck()')
          table(cellpadding='10', cellspacing='3')
            tbody
              tr
                td
                  label#Labels_Id(for='UsersEmail') 
                |  
                td
                  input#UsersEmailNewItem.input_Upload(type='text', required='', name='UsersEmail', value = var1)
                  br
              |  
              tr
                td
                  label#Labels_Id(for='ItemsName') Item&rsquo;s name: 
                |  
                td
                  input#ItemsName.input_Upload(type='text', required='', name='ItemsName', maxlength='12', placeholder='(Max Length: 12)')
                  br
              |  
              tr
                td
                  label#Labels_Id(for='LastDate') Last date for suggestions: 
                |  
                td
                  input#LastDate.input_Upload(type='date', required='', name='LastDate')
                  br
              |  
              tr
                td
                  label#Labels_Id(for='Category') Category: 
                |  
                td
                  select#CategoryList.input_Upload(name='ItemCategory', required='')
                    option(value='') Choose Category
                    option(value='Musical Instruments') Musical Instruments
                    option(value='Furniture') Furniture
                    option(value='Books') Books
                    option(value='Clothing') Clothing
                    option(value='Comic') Comic
                    option(value='Cameras') Cameras
                    option(value='Headphones') Headphones
                    option(value='Watchs') Watchs
                    option(value='Else') Else
                  br
              |  
              tr
                td
                  label#Labels_Id(for='ItemsPicture') Upload Items&apos;s Picture:
                |  
                td
                  input#ItemsPicture.input_Upload(type='file', name='ItemsPicture', accept='image/png, image/gif, image/jpeg')
                  br
              |  
              tr
                td
                  label#Labels_Id(for='Description') Description: 
                |  
                td
                  textarea#Description.input_Upload(name='ItenDescription', cols='25', rows='1', maxlength='23', placeholder='(Max Length: 23)')
                  br
          table(cellpadding='8', cellspacing='3')
            tbody
              tr
                td
                  button.Upload_button(type='submit', onclick='') Upload item for auction
      .footer_right
        footer
          a(href='/ContactUs')   Contact Us
      .footer_left
        footer
          p &copy; 2022 All Rights Reserved