
@font-face {
    font-family: Aboreto;
    src: url(Aboreto-Regular.ttf);
}


:root {
    --MyBlack: rgb(2, 2, 2);
    --MyWhite: rgb(237, 240, 243);
    --MyDarkerBlue: #257ba6;
    --MyLighterBlue: #96e0ef;
    --MyGreyBlue: #bcdcd6;
    --MyPurple: #d3c5df;
    --MyDarkerPurple: #8630d1;
    --MyRed: #db2505;
}

body{
    background-image: url(../static/WallPaper.jpg);
    background-size: cover;
    font-family: Aboreto; 
    padding: 5px;
    margin: 5px;
    font-size: 30px;
}

#container{
    display: grid;
    grid-template-areas: 
    'logo Header Header'
    'logo signIn signIn';
}

#changing{
    grid-area: changing;
    height: 350px;
    width: 350px;
    animation-name: Change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    text-align: center;
}

#Header{
    grid-area: Header;
    height: 20vh;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 10px;
}


#logo{
    grid-area: logo;
    height: 20vh;
    text-align: right;
}

#form-container_sign-in{
    grid-area: signIn;
    height: 45vh;
    text-align: center;
}

#form-container_sign-up{
    grid-area: signIn;
    height: 45vh;
    text-align: center;
}

#LabelsId{
    font-size: 25px;
}

.input_signUp{
    padding: 7px;
}

.fillNotice{
    font-size: 12px;
    color: var(--MyRed);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
	border-radius: 50%;
	background-color: var(--MyGreyBlue);
    border: 2px solid var(--MyDarkerBlue);
    color: var(--MyDarkerBlue);
	font-weight: bold;
    font-family: Aboreto; 
	letter-spacing: 2px;
    padding: 12px 45px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
    font-size: 20px;
    margin-top: 3%;
}

#NewHere_button{
    background-color: var(--MyPurple);
    color: var(--MyDarkerPurple);
    border: 2px solid var(--MyDarkerPurple);
    
}

.formHeadings{
    font-weight: bold;
}

@keyframes Change{
    0%{
        background-image: url(../static/coolItemToSale.png);
    }
    50%{
        background-image: url(../static/cameRightPlace.png);
    }
    100%{
        background-image: url(../static/coolItemToSale.png);
    }
}

@media screen and (max-width: 1000px){

}