
@font-face {
    font-family: Aboreto;
    src: url(Aboreto-Regular.ttf);
}


:root {
    --MyBlack: rgb(2, 2, 2);
    --MyWhite: rgb(237, 240, 243);
    --MyDarkerBlue: #257ba6;
    --MyLighterBlue: #96e0ef;
    --MyGreyBlue: #bcdcd6;
    --MyLight:  #e5dff0; 
    --MyPurple: #d3c5df;
    --MyDarkerPurple: #8630d1;
    --MyRed: #db2505;
    --MyGrey: #808080;
}

body{
    background-image: url(../static/WallPaper.jpg);
    background-size: cover;
    font-family: Aboreto; 
}

#OS_container{
    display: grid;
    grid-template-areas: 
    'logo Header '
    'logo signIn ';
}

#SU_container{
    display: grid;
    grid-template-areas: 
    'logo Header '
    'logo signUpPage ';
}

#GiveSuggestions_container{
    display: grid;
    grid-template-areas: 
    'logo Header '
    'logo SCategory '
    'logo Items_List ';
}

#NI_container{
    display: grid;
    grid-template-areas: 
    'logo Header'
    'logo Upload';
}

/*
#changing{
    grid-area: changing;
    height: 350px;
    width: 350px;
    animation-name: Change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    text-align: center;
}
*/
#Container_Header{
    grid-area: Header;
    height: 15vh;
    width: 75vw;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 10px;
    font-size: 47px;
    font-weight: bold;
}


#Container_Logo{
    grid-area: logo;
    height: 20vh;
    width: 10vw;
    text-align: right;

}

#Upload{
    grid-area: Upload;
    height: 35vh;
    text-align: center;
    line-height: 2;
}

#SearchCategory{
    grid-area: SCategory;
    height: 5vh;
    text-align: center;
    width: 75vw;
    margin-bottom: 2%;
}

#searchLabel{
    font-weight: bold;
}


#Items_List{
    grid-area: Items_List;
    height: 20vh;
    text-align: center;
    width: 75vw;
}

.info{
    margin-top: 15px; 
}

#form-container_sign-in{
    grid-area: signIn;
    height: 45vh;
    text-align: center;
    width: 75vw;
    line-height: 2;
}


#form-container_sign-up{
    grid-area: signUpPage;
    height: 45vh;
    text-align: center;
    width: 75vw;
}

#item{
    background-color:  var(--MyLight);
    float: left;
    height: fit-content;
    width: max-content;
    border-radius: 10%;
    padding-bottom: 1%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 14px;
}

/*
.Item1{
    background-color:  var(--MyLight);
    float: left;
    width: 40%;
    border-radius: 10%;
    margin: 3%;
    text-align: center;
    font-size: larger;
    padding-bottom: 3%;
    font-weight: bold;
    margin-left: 5%;
    font-size: 20px;
}

*/

#itemDescription{
    font-weight: bold;
}

.PictureItem{
    margin-top: 1%;
    border-radius: 50%;
    width: 10vw;
    height: 10vh;
}

#Labels_Id{
    font-size: 23px;
    line-height: 2;
}

.input_signUp, .input_Upload{
    padding: 7px;
    border: 2px solid var(--MyGrey);
    border-radius: 8px;
}

.PriceOffer{
    border: 2px solid var(--MyGrey);
    border-radius: 8px;
}

#LastDate, #Birth-Date{
    font-family: Aboreto; 
}

.fillNotice{
    font-size: 12px;
    color: var(--MyRed);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
	border-radius: 50%;
	background-color: var(--MyGreyBlue);
    border: 2px solid var(--MyDarkerBlue);
    color: var(--MyDarkerBlue);
	font-weight: bold;
    font-family: Aboreto; 
	letter-spacing: 2px;
    padding: 12px 45px;
	text-transform: uppercase;
	/*transition: transform 80ms ease-in;*/
    cursor: pointer;
    font-size: 20px;
    margin-top: 3%;
}


#NewHere_button{
    background-color: var(--MyPurple);
    color: var(--MyDarkerPurple);
    border: 2px solid var(--MyDarkerPurple);
    
}


.Sugg_button, .Upload_button{
    border-radius: 8px;
    padding: 7px 20px;
    font-size: 15px;
    cursor: pointer;
}


.formHeadings{
    font-weight: bold;
    font-size: 25px;
}

.custom_select{
    font-family: Aboreto; 
    font-size: 20px;
    padding: 7px;
}

#CategoryList{
    font-family: Aboreto; 
    font-size: 15px;
    padding: 7px;
    border-radius: 8px;
}

/*
@keyframes Change{
    0%{
        background-image: url(../static/coolItemToSale.png);
    }
    50%{
        background-image: url(../static/cameRightPlace.png);
    }
    100%{
        background-image: url(../static/coolItemToSale.png);
    }
}
*/

@media only screen and (max-width: 800px){

    #OS_container{
        display: grid;
        grid-template-areas: 
        'logo'
        'Header'
        'signIn';
    }
    
    #SU_container{
        display: grid;
        grid-template-areas: 
        'logo'
        'Header'
        'signUpPage';
    }
    
    #GiveSuggestions_container{
        display: grid;
        grid-template-areas: 
        'logo'
        'Header'
        'SCategory'
        'Items_List';
    }
    
    #NI_container{
        display: grid;
        grid-template-areas: 
        'logo'
        'Header'
        'Upload';
    }

    #Container_Header{
        grid-area: Header;
        height: 10vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 10px;
        font-size: 40px;
        font-weight: bold;
    }

    #Container_Logo{
        grid-area: logo;
        height: 15vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    #form-container_sign-in{
        grid-area: signIn;
        margin-left: auto;
        margin-right: auto;
    }

    #form-container_sign-up{
        grid-area: signUpPage;
        margin-left: auto;
        margin-right: auto;
    }

    .info{
        margin-top: 70px;
    }

    #item{
        background-color:  var(--MyLight);
        float: center;
        height: fit-content;
        width: 50vw;
        border-radius: 10%;
        padding-bottom: 1%;
        margin-left: 30%;
        margin-right: 20%;
        margin-bottom: 5%;
        margin-top: 2%;
        font-size: 15px;
    }
    
    #SearchCategory{
        grid-area: SCategory;
        height: 10vh;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
}